@tailwind base;
@tailwind components;
@tailwind utilities;



.img-st{
    width: 100% !important;
    height: 400px !important;
}
.h5-t{
    color:whitesmoke;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.social-footer{
    width: 30px;
    height: 30px;
}
.img-1-sf{
    margin-right: 10px;
}
.div-sm{
    margin-left: 44% !important;
}
.card-f{
    display: flex;
}
.card-w{
    width:calc(100%/3);
    margin: 0.5em;
}
.btn-m{
    margin-top: 10px;
}